body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

.Contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    margin: auto;
    background-color: white;
    width: 30%;
    padding: 25px;
    border-radius: 15px;
}

.inputsSingup {
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    width: 88%;
}
.FyL{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.inputsFyN {
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin: 16px;
}

.btn_registrar {
    padding: 10px;
    width: 75%;
    border: 0;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: blue;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.btn_registrar:hover {
    background-color: rgb(4, 4, 164); 
    cursor: pointer;
  }
  